<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="User">
	<select id="checkId" parameterType="string" resultType="_int">
		select count(user_id) from tbl_user where user_id = #{userId}
	</select>
	
	<insert id="insert" parameterType="vo.UserVO">
		insert into tbl_user (user_id) values (#{userId})
	</insert>
	
	<select id = "login" parameterType ="string" resultType="_int">
		select userNumber, userStatus from tbl_user where userId = #{userId} and userPassword = #{userPassword}
	</select>
	
	
</mapper>